SECRET_KEY = "your_secret_key"
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=False

DB_HOST = "postgres_db"
DB_PORT = 5432
DB_USER = "your_postgres_user"
DB_PASSWORD = "your_postgres_password"
DB_NAME = "electronics_store"

REDIS_HOST = "redis"
REDIS_PORT=6379
REDIS_PASSWORD = "your_redis_password"

EMAIL_HOST_USER = "your_email_host_user"
EMAIL_HOST_PASSWORD = "your_email_host_password"
DEFAULT_FROM_EMAIL = "your_default_from_email"