SECRET_KEY = "your_secret_key"
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=false

DB_HOST = "your_postgres_host"
DB_PORT = 5432
DB_USER = "your_postgres_user"
DB_PASSWORD = "your_postgres_password"
DB_NAME = "electronics_store"

REDIS_HOST = "your_redis_host"
REDIS_PORT=6379
REDIS_PASSWORD = "your_redis_password"
